<!DOCTYPE HTML>
<html>
	<head>
		<title><%= configuration.description %> Test Suite</title>
		<link rel="stylesheet" type="text/css" href="<%= root %>/lib/qunit/qunit.css"/>
	</head>
<body>
	<h1 id="qunit-header"><%= configuration.description %> Test Suite</h1>
	<h2 id="qunit-banner"></h2>
	<div id="qunit-testrunner-toolbar"></div>
	<h2 id="qunit-userAgent"></h2>
	<ol id="qunit-tests"></ol>
	<div id="qunit-test-area"></div>

	<script type="text/javascript" src="<%= root %>/lib/steal/steal.js"></script>
	<script type="text/javascript" src="<%= root %>/lib/qunit/qunit.js"></script>
	<script type="text/javascript">
		QUnit.config.autostart = false;

		steal(function() {
			var config = window.CONFIGURATION = <%- JSON.stringify(configuration.steal) %>;

			steal.config(config);
		}, "can/util/fixture", "can/view/jaml", "can/view/micro", "<%- modules.join('", "') %>")
		.then("can/test").then("<%- tests.join('")\n.then("') %>", function() {
			QUnit.start();
		});
	</script>
</body>
</html>