<!DOCTYPE HTML>
<html>
<head>
	<title><%= configuration.description %> Test Suite</title>
	<link rel="stylesheet" type="text/css" href="<%= root %>/lib/qunit/qunit.css"/>
</head>
<body>
<h1 id="qunit-header"><%= configuration.description %> Test Suite</h1>

<h2 id="qunit-banner"></h2>

<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>
<div id="qunit-test-area"></div>

<script type="text/javascript" src="<%= root %>/lib/qunit/qunit.js"></script>
<script type="text/javascript" src="<%= root %>/<%= _.first(_.values(configuration.steal.paths)).replace('can/', '') %>"></script>
<script type="text/javascript" src="<%= root %>/dist/<%= dist %>.js"></script>
<script type="text/javascript" src="<%= root %>/dist/can.fixture.js"></script>
<% modules.forEach(function(module) { %>
	<% if(!module.isDefault) { %>
	<script type="text/javascript" src="<%= root %>/dist/<%= module %>.js"></script>
	<% } %>
<% }); %>
<% tests.forEach(function(test) { %>
	<script type="text/javascript" src="<%= root %>/<%= test %>"></script>
<% }); %>
<script type="text/javascript">
	can.fixture.rootUrl = '<%= root %>/../';
</script>

</body>
</html>