<!DOCTYPE HTML>
<html>
<head>
	<title><%= configuration.description %> Test Suite</title>
	<base href="<%= root %>"/>
	<!--[if IE]>
	<script type="text/javascript">
		// Fix for IE ignoring relative base tags.
		(function () {
			var baseTag = document.getElementsByTagName(
					'base')[0];
			var loc = window.location.toString();
			var location = loc.substring(0, loc.lastIndexOf(
					'/') + 1);
			baseTag.href = location + '../../';
		})();
	</script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="bower_components/qunit/qunit/qunit.css"/>
	<script type="text/javascript" src="../../bower_components/html5shiv/dist/html5shiv.js"></script>
</head>
<body>
<h1 id="qunit-header"><%= configuration.description %> Test Suite</h1>

<h2 id="qunit-banner"></h2>

<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>
<div id="qunit-test-area"></div>
<div id="qunit-fixture"></div>

<script type="text/javascript" src="bower_components/qunit/qunit/qunit.js"></script>
<script type="text/javascript">
	QUnit.config.autostart = false;
</script>

<script type="text/javascript" src="<%= configuration.library %>"></script>
<script type="text/javascript" src="dist/<%= dist.replace('-2', '') %>.js"></script>
<% modules.forEach(function(module) { %>
<% if(!module.isDefault) { %>
<script type="text/javascript" src="dist/<%= module %>.js"></script>
<% } %>
<% }); %>
<script type="text/javascript" src="test/pluginified/latest.js"></script>

<script type="text/javascript">
	window.require = undefined;
	QUnit.start();
</script>

</body>
</html>
